/* General formatting */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
}

h1, h2, h3 {
    color: #102c58;
}

/* Content column */
.content-column {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Typography */
p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Images */
img {
    max-width: 70%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* Visualization holder styling */
.vis-holder {
    width: 100%;
    display: flex;
    flex-direction: column; /* Changed to display charts side by side */
    justify-content: space-between; /* Adjusted for better spacing between charts */
    margin-left: 40px;
    margin-top: 40px;
}

.chart-container {
    width: 100%; /* Adjusted for better spacing between charts */
    margin-bottom: 20px;
}

.chart-combo-holder {
    display: flex;
    flex-direction: column; /* Retained for better layout on smaller screens */
    margin-top: 20px;

}

/* Adjust the size of the bar chart */
.barchart-holder {
  width: 70%; /* Adjusted to fill the container */
    margin-bottom: 20px; /* Added margin for better spacing */
    height: 400px;
}

.piechart-legend-container {
    display: flex;
  }

/* Adjust the size of the pie chart and legend */
.piechart-holder {
  width: 100%; /* Adjusted to fill the container */
}

.legend-holder {
  width: 30%; /* Adjusted to fill the container */
  margin-top: 20px; /* Added margin to separate legend from the pie chart */    
}

/* Adjust the size of the treemap */
.treemap-holder {
  width: 30%; /* Adjusted for better spacing between charts */
  margin-bottom: 20px; /* Added margin for better spacing */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .chart-combo-holder {
    flex-direction: column;
  }

  .barchart-holder,
  .piechart-holder,
  .legend-holder,
  .treemap-holder {
    width: 100%;
    max-width: 100%;
  }
}
/* Fork on GitHub ribbon */
#forkongithub a {
    background: #333;
    color: #fff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.4rem;
    position: relative;
    transition: 0.5s;
    border-radius: 5px;
}

#forkongithub a:hover {
    background: #555;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .content-column, .barchart-holder, .piechart-holder, .legend-holder {
        width: 100%;
        margin: 0;
    }
}

